@media screen and (max-width:1000px)  {
    .sidebarItems{
        z-index: 99;
    }
    .sidebar-menu{
        display: flex;
        display: grid;
        flex-direction: column;
        background-color: rgb(60, 144, 89);
        width:25%;
        height: auto;
        position:absolute;
        top:1%;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0 ;
        margin-top: 0;
        border-radius: 5px;
    }
    .sidebar-menu.active{
        left:0;
        opacity: 1;
        z-index: -1;
    }
    .sidebar-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
        margin: auto;
        width: 80%;
    }
    .sidebar-links:hover{
        background: gray;
        transition: none;
    }
    button{
        display: block;
        text-align: center;
        padding:80px 0 30px 0;
        margin: auto;
        width: 80%;
        border-radius: 5px;
        background-color: rgb(100, 100, 233);
        color:white;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .menu-icons{
        display:block;
        cursor:pointer ;
    }
    .menu-icons i {
        font-size:1.2rem ;
        color: #222;
    }
    
  }